<footer class="footer mini_wrapper flex_principal">
	<div class="content">
		<div class="flex_default">
			<div class="content c_footer">
				<a class="lang_button {% if site.lang == 'en' %}gold_active{% endif %}" href="{{ site.url }}{{ page.url}}" >{% t global.english %}</a>
				<a class="lang_button {% if site.lang == 'es' %}gold_active{% endif %}" href="{{ site.url }}/es{{ page.url  }}" >{% t global.spanish %}</a>
			</div>
			<div class="content c_footer">
				<a href="https://www.youtube.com/channel/UCxK-cqbwU3nLcyxA6TXBQhQ" class="flex_micro" target="_blank" rel="noopener noreferrer">
					<img src="{{ site.baseurl_root }}/assets/images/icons/youtube.png">
				</a>
				<a href="https://www.twitch.tv/incognitoankh" class="flex_micro" target="_blank" rel="noopener noreferrer">
					<img src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
				</a>
				<a href="https://www.instagram.com/incognito.ankh/" class="flex_micro" target="_blank" rel="noopener noreferrer">
					<img src="{{ site.baseurl_root }}/assets/images/icons/instagram.png">
				</a>
				<a href="https://twitter.com/IncognitoAnkh" class="flex_micro" target="_blank" rel="noopener noreferrer">
					<img src="{{ site.baseurl_root }}/assets/images/icons/twitter.png">
				</a>
				<a href="https://www.facebook.com/IncognitoAnkh" class="flex_micro" target="_blank" rel="noopener noreferrer">
					<img src="{{ site.baseurl_root }}/assets/images/icons/facebook.png">
				</a>
			</div>
			<div class="content c_footer">
				<h4>{% t widgets.footer.copyright %}</h4>
			</div>
		</div>
	</div>
</footer>



		<!-- {% if site.lang == "en" %}
			{% capture link1 %}{{ site.baseurl_root }}es{{ page.url}}{% endcapture %}
			<a href="{{ link1 }}" >{% t global.spanish %}</a>
		{% else if site.lang == "es" %}
			{% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
			<a href="{{ link2 }}" >{% t global.english %}</a>
		{% endif %} -->