<!-- Load -->
<script async src="https://kit.fontawesome.com/6cc05e1e8e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/modal.css">
<script async src="/js/modal.js" crossorigin="anonymous"></script>

<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1">
    {% include contents/donations.html %}
    {% include contents/socialmedia.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">Main Projects</h2> 
    <div class="content">  
        <a class="card flex_default" href="{{site.baseurl}}/incognitoradio/">
            <img src="{{site.baseurl}}/src/img/icons/IncognitoRadioMini_scaled.png"> 
            <h2>IncognitoRadio</h2> 
            <p>Streaming, video and entertainment.</p>  
        </a>
        <a class="card flex_default">
            <img src="{{site.baseurl}}/src/img/icons/xibalbak_logo_scaled.png"> 
            <h2 class="NO">Xibalbak MC Server</h2> 
            <p class="NO">Work in progress</p>  
        </a>
        <a class="card flex_default" href="{{site.baseurl}}/pixelart/">
            <img src="{{site.baseurl}}/src/portfolio/thumbnails/guis/thumb2.png">
            <h2>PixelArt</h2> 
            <p>Portfolio and commissions</p>  
        </a>
        <a class="card flex_default" href="https://mcmodels.net/vendors/incognitoankh-market/" target="_blank" rel="noopener noreferrer">
            <img src="{{site.baseurl}}/src/img/icons/mcmodels.png"> 
            <h2>My asset market</h2> 
            <p>2D and 3D Assets, Models, GUI, Items, MC Mobs, Bosses and much more! <span class="NO">No Products for the Moment</span></p>  
        </a>
        <a class="card flex_default">
            <img src="{{site.baseurl}}/src/img/portrait.png"> 
            <h2 class="NO">News Index</h2> 
            <p class="NO">Work in progress</p>  
        </a>
    </div>  
    <h2 class="">News</h2>
    <div class="content">  
        {% for post in site.posts limit:6 %}
        <div class="card flex_secondary">  
            <article>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <time datetime="{{ post.date | date: "%d-%m-%Y" }}">{{ post.date | date_to_long_string }}</time>
                <br>
                <br>
                {{ post.excerpt }}
                    <!-- {{ post.content | strip_html | truncatewords: 64 }} -->
            </article>
        </div>
        {% endfor %}
    </div> 
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    {% include contents/twitter_feed.html %}
</div>  