<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1">
    {% include contents/donations.html %}
    <h2 class="">Channels</h2>
    {% include contents/twitch.html %}
    {% include contents/youtube.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">Main Projects</h2> 
    <div class="content">  
        <a class="card flex_default" href="{{site.baseurl}}/incognitoradio/">
            <img src="{{site.baseurl}}/src/img/icons/IncognitoRadioMini_scaled.png"> 
            <h2>IncognitoRadio</h2> 
            <p>Streaming, video and entertainment.</p>  
        </a>
        <a class="card flex_default">
            <img src="{{site.baseurl}}/src/img/icons/xibalbak_logo_scaled.png"> 
            <h2>Xibalbak</h2> 
            <p>Minecraft server.</p>  
        </a>
        <a class="card flex_default" href="{{site.baseurl}}/pixelart/">
            <img src="{{site.baseurl}}/src/portfolio/illustration1.png"> 
            <h2>PixelArt</h2> 
            <p>Showcase and commissions</p>  
        </a>
        <a class="card flex_default" href="">
            <img src="{{site.baseurl}}/src/wip.png"> 
            <h2>...</h2> 
            <p>...</p>  
        </a>
        <a class="card flex_default" href="">
            <img src="{{site.baseurl}}/src/wip.png"> 
            <h2>...</h2> 
            <p>...</p>  
        </a>
        <a class="card flex_default" href="">
            <img src="{{site.baseurl}}/src/wip.png"> 
            <h2>...</h2> 
            <p>...</p>  
        </a>
    </div>  
    <h2 class="">Website Under Construction</h2>
    <div class="content">  
        <div class="card flex_default">
            <p>...</p>  
        </div>
    </div> 
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    <h2 class="">Media Accounts</h2>
    {% include contents/instagram.html %}
    {% include contents/twitter.html %}
    {% include contents/facebook.html %}
</div>  