<!-- Load -->
<script async src="https://kit.fontawesome.com/6cc05e1e8e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/assets/css/modal.css">
<script async src="/assets/js/modal.js" crossorigin="anonymous"></script>

<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1">
    {% include contents/donations.html %}
    {% include contents/socialmedia.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">Proyectos Principales</h2> 
    <div class="content">  
        <a class="card flex_default" href="{{ site.baseurl_root }}/incognitoradio/">
            <img src="{{ site.baseurl_root }}/assets/images/icons/IncognitoRadioMini_scaled.png"> 
            <h2>IncognitoRadio</h2> 
            <p>Streaming, Video y Entretenimiento.</p>  
        </a>
        <a class="card flex_default">
            <img src="{{ site.baseurl_root }}/assets/images/icons/xibalbak_logo_scaled.png"> 
            <h2 class="NO">Xibalbak MC Server</h2> 
            <p class="NO">En Desarrollo</p>  
        </a>
        <a class="card flex_default" href="{{ site.baseurl_root }}/pixelart/">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/guis/thumb2.png">
            <h2>Servicios de PixelArt</h2> 
            <p>Portafolio y Comisiones</p>  
        </a>
        <a class="card flex_default" href="https://mcmodels.net/vendors/incognitoankh-market/" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl_root }}/assets/images/icons/mcmodels.png"> 
            <h2>Mi Tienda de Assets</h2> 
            <p>¡Assets 2D y 3D, Modelos, GUI, Items, MC Mobs, Bosses y mucho mas! <span class="NO">Sin Productos Temporalmente</span></p>  
        </a>
    </div>  
    <h2 class="">Novedades</h2>
    <div class="content">  
        {% for post in site.posts limit:6 %}
        <a class="card flex_secondary" href="{{ site.url }}{% t global.url_code %}{{ post.url }}">  
            <article class="quiet">
                <h2 class="highlight">{{ post.title }}</h2>
                <time datetime="{{ post.date | date: "%d-%m-%Y" }}">{{ post.date | date_to_long_string }}</time>
                <br>
                <br>
                {{ post.excerpt }}
                    <!-- {{ post.content | strip_html | truncatewords: 64 }} -->
            </article>
        </a>
        {% endfor %}
    </div> 
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    {% include contents/twitter_feed.html %}
</div> 