<header class="navbar">
	<a class="logo" href="{{site.baseurl}}/">
		<img class="img_logo" src="{{site.baseurl}}/src/img/IncognitoAnkhLogo.png"/>
	</a>
	<nav class="navbar_buttons">
		<a class="{% if page.url == '/' %}active{% endif %}" href="{{site.baseurl}}/">Home</a>
		<a class="{% if page.url == '/pixelart/' %}active{% endif %}" href="{{site.baseurl}}/pixelart/">PixelArt</a>
		<a class="{% if page.url == '/media/' %}active{% endif %}" href="{{site.baseurl}}/media/">Media</a>
		<a class="{% if page.url == '/incognitoinc/' %}active{% endif %}" href="{{site.baseurl}}/IncognitoInc/">IncognitoInc</a>
		<a class="{% if page.url == '/contact/' %}active{% endif %}" href="{{site.baseurl}}/contact/">Contact</a>
	</nav>
</header>
<header class="navbar_space">
	<nav class="navbar_space_buttons">
		<a>.</a>
	</nav>
</header>