/*----------------NAVBAR----------------*/
.navbar {
  z-index: 999;
  position: fixed;
  top: 0px;
  /*left: 0px;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(51, 51, 51, 1); */
  background-color: #181818;
}

.navbar_space {
  width: 100%;
  background-color: red;
}
  
.logo{
  vertical-align: middle;
}
  
.img_logo{
  width: 100%;
  height: auto;
  max-height: 1.5em;
}
  
.navbar a,  .navbar_space a{
  color: #dff6f5;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1em;
  border-radius: 0.1em;
}
  
.navbar_buttons, .navbar_space_buttons{
  display: flex;
}
  
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
  
.active {
  /* background-color: rgb(141, 0, 49); */
  background-color: #2d214a;
}

/* New Navbar */
.hide{
  display: none;
}

.menu_show{
  transform: translateX(35%) !important;
}

.menubtn{
  font-size: 2.5em !important;
  color: #fff;
  float: right !important;
  margin-right: 2% !important;
  cursor: pointer !important;
  display: none;
  z-index: 1000 !important;
}

/*--------------------------------------*/