.banner_img {
  background: url("/assets/images/banners/banner1.png");
  background-position: center;
  background-position-y: 70%;
  background-size: cover;
}

.page_space_top{
  min-height: 24vh;
}