<a href="{{ site.baseurl_root }}/pixelart_archive/" class="content">  
    <div class="card flex_mini">
        <h2>Archive</h2> 
		<p class="quiet">Even more IncognitoAnkh's pixel art creations.</p>  
    </div>
    <div class="card flex_doublemini">
		<img src="{{ site.baseurl_root }}/assets/images/icons/archive.png">
    </div>
</a>
<!-- <div class="content">  
    <a href="{{ site.baseurl_root }}/pixelart_archive/" class="card flex_default">
        <h2>Archive</h2> 
        <img src="{{ site.baseurl_root }}/assets/images/icons/archive.png">  
        <p>Even more IncognitoAnkh's pixel art creations.</p>  
    </a>
</div> -->