<!-- RESOURCES -->
<link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/donations.css">
<script src="https://js.stripe.com/v3/"></script>
<!-- <script async src="/assets/js/stripe.js" crossorigin="anonymous"></script> -->

<!--  CONTENT  -->
        <div class="content">  
            <div class="card flex_doublemini">
                <img src="{{ site.baseurl_root }}/assets/images/a_kind_donator.gif">  
            </div>
            <div class="card flex_mini">
                <h2>{% t widgets.donations.title %}</h2>  
                <p class="quiet">{% t widgets.donations.desc %}</p> 
                <a href="https://www.paypal.me/angelvalletm/" target="_blank" rel="noopener noreferrer"> 
                  <h3 class=""><span style="color: #0070C0;">Pay</span><span style="color: #00B0F0;">Pal</span> Donations</h3>
                </a> 
                <a href="https://buy.stripe.com/bIYdTK8Tb3Fybio7ss" target="_blank" rel="noopener noreferrer">
                  <h3 class=""><span style="color: #626CD9;">Stripe</span> Donations</h3>
                </a> 
                <div id="error-message"></div>
            </div>
        </div>