<div class="content">  
	<div class="card flex_default">
		<h2>Status</h2>  
		<h3 class="NO">Overbooked, Commissions CLOSED</h3> 
		<p>Sorry for the inconvenience, there are no slots for commissions available, if the wait is not a problem for you, contact me to reserve a space and attend you as soon as there is a slot available.</p>
		<!-- <h3 class="YES">Commissions OPEN</h3> 
		<p>Commission slots are available..</p> -->
		
		<!-- <h3 class="NO">On Vacation, Commissions CLOSED</h3> 
		<p>Sorry for the inconvenience, I'll be back soon, if the wait is not a problem for you, contact me to reserve a space and assist you as soon as the commissions open again.</p> -->
	</div>
    <a href="{{ site.baseurl_root }}/commissions/" class="card flex_default">
        <img src="{{ site.baseurl_root }}/assets/images/BrunoCoin1120.png">  
        <h2>Request a Commission!</h2>  
        <p>Click here to read my terms of service, usage license and find my contact data.</p>  
    </a>
</div> 