<a href="{{ site.baseurl_root }}/commissions/" class="content">  
    <div class="card flex_doublemini">
        <img src="{{ site.baseurl_root }}/assets/images/BrunoCoin1120.png">
		<h2>{% t widgets.request_commission.title_2 %}</h2>  
    </div>
    <div class="card flex_mini">
		<h3 class="NO">{% t widgets.request_commission.subtitle_1 %}</h3> 
		<p>{% t widgets.request_commission.desc_1 %}</p>
    </div>
</a>


<!-- <div class="content">  
	<div class="card flex_default">
		<h2>{% t widgets.request_commission.title_1 %}</h2>  
		<h3 class="NO">{% t widgets.request_commission.subtitle_1 %}</h3> 
		<p>{% t widgets.request_commission.desc_1 %}</p> -->
		<!-- <h3 class="YES">{% t widgets.request_commission.subtitle_2 %}</h3> 
		<p>{% t widgets.request_commission.desc_2 %}</p> -->
		
		<!-- <h3 class="NO">{% t widgets.request_commission.subtitle_3 %}</h3> 
		<p>{% t widgets.request_commission.desc_3 %}</p> -->

		<!-- <h3 class="NO">{% t widgets.request_commission.subtitle_4 %}</h3> 
		<p>{% t widgets.request_commission.desc_4 %}</p> -->
	<!-- </div>
    <a href="{{ site.baseurl_root }}/commissions/" class="card flex_default">
        <img src="{{ site.baseurl_root }}/assets/images/BrunoCoin1120.png">  
        <h2>{% t widgets.request_commission.title_2 %}</h2>  
        <p>{% t widgets.request_commission.desc %}</p>  
    </a>
</div>  -->