<div class="content">
   <!--  <h2 class="flex_default">{% t widgets.socialmedia.title %}</h2> -->
    <a href="https://www.youtube.com/channel/UCxK-cqbwU3nLcyxA6TXBQhQ" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/youtube.png">
        <p>Youtube</p> 
    </a>
    <a href="https://www.twitch.tv/incognitoankh" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
        <p>Twitch</p> 
    </a>
    <a href="https://kick.com/incognitoankh" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/x.png">
        <p>Kick</p> 
    </a>
    <a href="https://odysee.com/@IncognitoAnkh" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/x.png">
        <p>Odysee</p> 
    </a>
    <a href="https://www.instagram.com/incognito.ankh/" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/instagram.png">  
        <p>Instagram</p>  
    </a>
    <a href="https://twitter.com/IncognitoAnkh" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/twitter.png">  
        <p>Twitter</p>  
    </a>
    <a href="https://www.facebook.com/IncognitoAnkh" class="card flex_doublemini" target="_blank" rel="noopener noreferrer">
        <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/facebook.png">  
        <p>Facebook</p>  
    </a>
</div>