<div class="content">
    <a href="https://www.youtube.com/channel/UCxK-cqbwU3nLcyxA6TXBQhQ" class="card flex_mini" target="_blank" rel="noopener noreferrer">
        <img src="{{site.baseurl}}/src/img/icons/youtube.png">
        <h2>Youtube</h2> 
    </a>
    <a href="https://www.twitch.tv/incognitoankh" class="card flex_mini" target="_blank" rel="noopener noreferrer">
        <img src="{{site.baseurl}}/src/img/icons/twitch.png">
        <h2>Twitch</h2> 
    </a>
    <a href="https://www.instagram.com/incognito.ankh/" class="card flex_mini" target="_blank" rel="noopener noreferrer">
        <img src="{{site.baseurl}}/src/img/icons/instagram.png">  
        <h2>Instagram</h2>  
    </a>
    <a href="https://twitter.com/IncognitoAnkh" class="card flex_mini" target="_blank" rel="noopener noreferrer">
        <img src="{{site.baseurl}}/src/img/icons/twitter.png">  
        <h2>Twitter</h2>  
    </a>
    <a href="https://www.facebook.com/IncognitoAnkh" class="card flex_mini" target="_blank" rel="noopener noreferrer">
        <img src="{{site.baseurl}}/src/img/icons/facebook.png">  
        <h2>Facebook</h2>  
    </a>
</div>