<div class="content">  
    <div class="card flex_mini">
        <!-- <h2 class="flex_default">{% t widgets.twitter_feed.title %}</h2> -->
        <a href="https://twitter.com/IncognitoAnkh?ref_src=twsrc%5Etfw" class="twitter-follow-button card flex_default" data-size="large" data-show-count="false">{% t widgets.twitter_feed.desc_1 %} @IncognitoAnkh</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <a class="card flex_default twitter-timeline" data-width="100%" data-height="1080" data-theme="dark" href="https://twitter.com/IncognitoAnkh?ref_src=twsrc%5Etfw">{% t widgets.twitter_feed.desc_2 %} IncognitoAnkh</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>