<div class="content">  
    <div class="card flex_mini">
        <a class="card flex_default twitter-follow-button" href="https://twitter.com/IncognitoAnkh" data-size="large">{% t widgets.twitter_feed.desc_1 %} @IncognitoAnkh</a>
        <a class="card flex_default twitter-timeline" data-width="100%" data-height="1080" data-theme="dark" href="https://twitter.com/IncognitoAnkh">{% t widgets.twitter_feed.desc_2 %} IncognitoAnkh</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>