<div class="content">  
    <h2 class="">Recent Tweets</h2>
    <a href="https://twitter.com/IncognitoAnkh?ref_src=twsrc%5Etfw" class="twitter-follow-button card flex_default" data-size="large" data-show-count="false">Follow @IncognitoAnkh</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline card flex_default" data-height="1920" data-theme="dark" href="https://twitter.com/IncognitoAnkh?ref_src=twsrc%5Etfw">Tweets by IncognitoAnkh</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>