---
layout: default
permalink: /commissions/
title: pages.commissions.title
banner_title: pages.commissions.banner.title
banner_subtitle: pages.commissions.banner.subtitle
banner_css: pixelart
favicon: icons/IncognitoAnkhMini_scaled.png
--- 
<!-- Load -->

<!-- Content -->
<div class="wrapper" id="main">  
    <div class="mini_wrapper flex_secondary" id="w1"> 
        {% include contents/request_commission.html %}      
        {% include contents/donations.html %}
    </div>  

    <div class="mini_wrapper flex_principal" id="w2">  
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">-Terms of Service-</h2>
                <p>Applied only to <span class="highlight">direct</span> commissions.</p>
                <p class="highlight">If you request a commission, I will assume that you have read and agree to the following terms.</p> 
                <p>In the following terms of service, the word "commissioner" is used to refer to the person who requests the service and "artist" to the person who offers said service (IncognitoAnkh).</p>
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Workflow</h2>  
                <p class="highlight">Payment > First Version > Revisions > Final Delivery</p>
                <p class="justify">
                    • All my commissions are delivered “as soon as possible” depending on workload.<br>
                    • I take feedback throughout the project to have the product correctly at the final delivery.<br>
                    • The "Revisions" step can be repeated until you are satisfied with the product at no additional cost, as long as the complexity and number of revisions is fair to both parties <span class="NO">(no drastic changes such as redoing the product)</span>.<br>
                    • Orders will be made in queue order and delivery priority.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Payments</h2>  
                <p>Payments can be made through <span style="color: #0070C0;">Pay</span><span style="color: #00B0F0;">Pal</span> or <span style="color: #626CD9;">Stripe</span> either in advance or in halves:</p>
                <p class="justify">
                    • I will start working once at least the first half of the project price is paid.<br>
                    • I will send you a preview each time i make substantial progress for feedback. If you paid full price up front, you can also request earlier versions of the product to try it out for yourself without waiting for final delivery.<br>
                    • I will deliver the final product once the total price of the commission has been paid.<br>
                    • During the 7 days following the final delivery you can request an extra revision for small adjustments at no additional cost.<br>
                    <br>
                    <span class="highlight">Dedicated Works</span><br>
                    • Aimed at people or teams that need my services as close as possible, such as game development teams or large projects with many required assets, payment and workflow to be discussed.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">License</h2>  
                <p class="justify">
                    By paying the full price of a Commission you are acquiring a personal license for the use of the requested product that allows you to:<br>
                    <br>
                    • <span class="YES">Use the product for commercial purposes as long as it is integrated into another project which may include, but is not limited to, video games, Video game addons and mods, resource packs, printed products, videos, live streams, advertisements, emotes, profile pictures, and social media banners.</span><br>
                    • <span class="YES">Have exclusivity over the commissioned content, the commissioned piece is made solely and exclusively to fulfill the purposes of the commissioner and the artist, so it will not be resold or redistributed by me to other potential clients, however i still have the right to use the commissioned content for specific purposes related to self-promotion which may include, but are not limited to, self-advertising, live streaming, video, and portfolio.</span><br>
                    • <span class="YES">Use the product for personal purposes.</span><br>
                    • <span class="YES">Distribute the product for free.</span><br>
                    <br>
                    You are not authorized to:<br>
                    • <span class="NO">Claim to be the creator of the product, you must always properly credit IncognitoAnkh.</span><br>
                    • <span class="NO">Resell the commissioned content by itself or with very slight modifications / edits, either individually or in asset packs.</span><br>
                    • <span class="NO">Create NFTs with the product.</span><br>
                    <br>
                    I am always open to negotiate the above terms for specific cases. <br>
                    Violating the agreements established in this license results in the application of the same penalties applied to refunds, but without the right to be eligible for a refund.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Refund and Cancelation Policy</h2>  
                <p class="justify">
                    • By requesting a refund you agree to lose the use license, as well as all exclusivity rights over the commissioned content, all elements linked exclusively to the commissioner including but not limited to logos, original characters or brand and project secrets will be removed from the piece. preserving only everything that could be considered original or generic at the discretion of the artist, said material already purged of proprietary elements of the commissioner will become free to use for the artist and he may or may not use it for the purposes that are most convenient for him (the artist).
                    <br>
                    • A refund of an already finished commission cannot be requested, only active commissions are eligible.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_principal">
                <h2 class="highlight">Pricing</h2>
                <p class="justify">
                    The prices shown below are represented in USD, the quantities are for illustrative reference only and may vary depending on the specifications and budget of your specific project.
                </p>
            </div>
            <div class="card flex_secondary gallery_item">
                <h2 class="highlight">GUI related works</h2> 
                <img draggable="false" src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/guis/2.png">
                <p class="centered">
                    Useful for any GUI / HUD related work like, buttons, bars, sliders, hotbars, boss bars, HP bars, whole screen menus with simple background, pop up menus, floating windows, Minecraft Inventory Menus and much more.<br>
                    <br>
                    • Small elements and buttons --------------------------- $15.00 ea.<br>
                    • Widgets and Extra Screens ---------------------------- $35.00 ea.<br>
                    • Complex and Full Screens ------------------------------- $70.00 ea.<br>
                    <br>
                    Upscaled asset versions included if requested, banner / illustration backgrounds are not included (Please refer to "Illustrations" section).
                </p>  
            </div>
            <div class="card flex_secondary gallery_item">
                <h2 class="highlight">Sprites & Icons</h2>
                <img draggable="false" src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/icons/3.png">  
                <p class="centered">
                    Perfect for Items, Icons, Tiles, Emotes, Badges, Stickers and any small Misc. assets up to...<br>
                    <br>
                    • 16px ------------------------------------------------- $2.50 ea.<br>
                    • 32px ------------------------------------------------- $7.50 ea.<br>
                    • 64px ------------------------------------------------- $22.50 ea.
                    <br>
                    Upscaled asset versions included if requested, animations not included.
                </p>  
            </div>
            <div class="card flex_secondary gallery_item">
                <h2 class="highlight">Illustrations</h2>
                <img draggable="false" src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/illustrations/1.png">  
                <p class="centered">
                    Perfect for videogame backgrounds, banners, complex characters/figures and big Misc. assets up to...<br>
                    <br>
                    • 128x128 px Background, ---------------------------- $25.00 ea.<br>
                    • 256x256 px Background, --------------------------- $45.00 ea.<br>
                    • 512x512 px Background, --------------------------- $85.00 ea.<br>
                    <br>
                    Each Package include up to 1 figure (Character/Detailed object) and upscaled asset versions if requested, animations not included <br>
                    <br>
                    • Extra Figure ---------------------------------------------- $25.00 ea.<br>
                </p> 
            </div>
            <div class="card flex_secondary">
                <h2 class="highlight">Extras</h2>
                <img draggable="false" src="{{ site.baseurl_root }}/assets/images/MondongoTicket1120.png">  
                <p class="centered">
                    Some small addons that can be added to some of the services listed above to increase their potential, like...<br>
                    <br>
                    • Recolor ------------------------- 1/4 of the Original asset price ea.<br>
                    • Animation ----------- Highly depends on complexity an frames.<br>
                    • Source File ------------------------- +100% Original project price<br>
                    • Extra Fast Delivery Priority ---- +50% Original project price
                </p> 
            </div>
        </div>

        <h2 class="">Request a Commission!</h2>
        <div class="content">  
            <div class="card flex_principal">
                <!-- <img draggable="false" src="{{ site.baseurl_root }}/assets/images/portrait.png"> -->  
                <h2 class="highlight">Contact</h2>  
                <p>This are the options to request me a commission.</p>  
            </div>
            <div class="card flex_default">
                <h2>Discord</h2> 
                <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/discord.png"> 
                <p class="quiet">You can contact me trough my direct commission focused Discord account, just send a friend request to <span class="highlight">IncognitoAnkh</span></p>  
            </div>
            <a href="https://www.fiverr.com/ankhasmodeus" class="card flex_default" target="_blank" rel="noopener noreferrer">
                <h2>Fiverr</h2> 
                <img draggable="false" src="{{ site.baseurl_root }}/assets/images/icons/fiverr.png">  
                <p class="quiet">You can also request commissions through Fiverr by clicking here! (Due the platform's TOS, any project handled through Fiverr will have a different set of prices and conditions than those shown here in this page).</p>  
            </a>
        </div> 
    </div>  

    <div class="mini_wrapper flex_secondary" id="w3">  
        {% include contents/pixelart_portfolio.html %}
    </div>  
</div> 
