---
layout: default
permalink: /commissions/
title: Commissions
banner_title: Pixel Art Commissions
banner_subtitle: Terms of service, usage terms and illustrative pricing for IncognitoAnkh's direct pixel art commissions.
banner_css: pixelart
--- 
<!-- Content -->
<div class="wrapper" id="main">  
    <div class="mini_wrapper flex_secondary" id="w1"> 
        {% include contents/status.html %}      
        {% include contents/donations.html %}
    </div>  

    <div class="mini_wrapper flex_principal" id="w2">  
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">-Terms of Service-</h2>
                <p>Applied to <span class="highlight">Direct</span> commissions only.</p>
                <p class="highlight">If you ask for a commission, I’m going to assume you read and
                    agree to these terms.</p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Workflow</h2>  
                <p class="highlight">Payment > First Version > Revisions > Final Delivery</p>
                <p class="justify">
                    • All my commissions are delivered “ASAP”.<br>
                    • I take feedback all along the way to get the product right at delivery.<br>
                    • “Revisions” step can be repeated until you are satisfied with the product without additional cost if the complexity and number of revisions is fair for both parts <span class="NO">(NO full asset redo)</span>.<br>
                    • Orders will be made in order of queue and delivery priority.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Payments</h2>  
                <p>Payments can be made through <span style="color: #0070C0;">Pay</span><span style="color: #00B0F0;">Pal</span> in any of the following
                    ways:</p>
                <p class="justify">
                    <span class="highlight">In Advance or Halves</span><br>
                    • I will start to work once at least the first halve of the project price is paid.<br>
                    • I will send to you a preview every time I have a substantial progress for feedback, if you paid the full price in advance you can also request early versions of the product to test it yourself without having to wait for the final delivery.<br>
                    • I will delivery the final product once the full price of the commission is paid.<br>
                    • During the period of next 7 days after the final delivery you can request one extra revision for small adjustments without additional cost.<br>
                    <br>
                    <span class="highlight">Dedicated Works</span><br>
                    • Intended for people who needs my services in a closest way like game development teams or big projects with a lot of assets required, the payment and workflow need to be discussed.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Use Terms</h2>  
                <p class="justify">
                    Applied by default to all my works, i’m always open to discuss and negotiate this agreement.<br>
                    <br>
                    • <span class="YES">You can use the product for commercial purposes</span> if is integrate into another project (game, printed merchandise, video, etc.) but <span class="NO">not if you resell it on its own (Asset bundle, NFT, etc.)</span>.<br>
                    • For non-personal use, regardless of whether it is commercial or not, you must properly credit IncognitoAnkh.<br>
                    • <span class="NO">You can’t claim yourself as the creator of the product.</span><br>
                    • I can use the product for portfolio or self-promotion purposes (If a temporary period of confidentiality is needed be sure to tell me when ordering).<br>
                    • I can showcase the process of make the product (e.g., video, or live stream) unless you request me to don’t do it.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_principal">
                <h2 class="highlight">Price List</h2>
                <p class="justify">
                    The prices and quantities shown below are only and illustrative baseline and may vary depending on your project specifications and budget, all prices are on USD.
                </p>
            </div>
            <div class="card flex_secondary">
                <h2 class="highlight">GUI related works</h2> 
                <img src="{{site.baseurl}}/src/portfolio/guis/thumb2.png">
                <p class="justify">
                    • Small elements and buttons --------------------------- $4.00 ea.<br>
                    • Widgets and HUD elements ---------------------------- $12.00 ea.<br>
                    • Full menus and screens ------------------------------- $35.00 ea.<br>
                </p>  
            </div>
            <div class="card flex_secondary">
                <h2 class="highlight">Items, Icons, Tiles and Misc. assets</h2>
                <img src="{{site.baseurl}}/src/portfolio/tiles/thumb22.png">  
                <p class="justify">
                    • 16px Assets ------------------------------------------------- $4.00 ea.<br>
                    • 32px Assets ------------------------------------------------ $8.00 ea.<br>
                    • 48px Assets ----------------------------------------------- $12.00 ea.<br>
                    • 64px Assets ----------------------------------------------- $16.00 ea.<br>
                </p>  
            </div>
            <div class="card flex_secondary">
                <h2 class="highlight">Illustrations</h2>
                <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb18.png">  
                <p class="justify">
                    • Up to 128px Illustration + 1 Figure ------------------ $30.00 ea.<br>
                    • Up to 256px Illustration + 1 Figure ----------------- $60.00 ea.<br>
                    • Up to 384px Illustration + 1 Figure ----------------- $90.00 ea.<br>
                    • Up to 512px Illustration + 1 Figure ---------------- $120.00 ea.<br>
                    • Extra Figure ---------------------------------------------- $25.00 ea.
                </p> 
            </div>
            <div class="card flex_secondary">
                <h2 class="highlight">Extras</h2>
                <img src="{{site.baseurl}}/src/img/MondongoTicket1120.png">  
                <p class="justify">
                    • Recolor --------------------------- 30% Original asset price ea.<br>
                    • Animation ------------ +50% Original asset price each frame<br>
                    • Source File ---------------------- +100% Original project price<br>
                    • Delivery Priority -------------- +100% Original project price<br>
                </p> 
            </div>
        </div>

        <h2 class="">Request a Commission!</h2>
        <div class="content">  
            <div class="card flex_principal">
                <!-- <img src="{{site.baseurl}}/src/img/portrait.png"> -->  
                <h2 class="highlight">Contact</h2>  
                <p>This are the options to request me a commission.</p>  
            </div>
            <div class="card flex_default">
                <h2>Discord</h2> 
                <img src="{{site.baseurl}}/src/img/icons/discord.png"> 
                <p>You can contact me trough my direct commission focused Discord account, just send a friend request to <span class="highlight">IncognitoAnkh#6812</span></p>  
            </div>
            <a href="https://www.fiverr.com/ankhasmodeus" class="card flex_default" target="_blank" rel="noopener noreferrer">
                <h2>Fiverr</h2> 
                <img src="{{site.baseurl}}/src/img/icons/fiverr.png">  
                <p>You can also request commissions through Fiverr by clicking here! But please note that due to that platform's TOS, any project handled through it will have a different set of prices and conditions than those shown here.</p>  
            </a>
        </div> 
    </div>  

    <div class="mini_wrapper flex_secondary" id="w3">  
        {% include contents/pixelart_portfolio.html %}
        <div class="content">  
            <a href="{{site.baseurl}}/pixelart_archive/" class="card flex_default">
                <!-- <img src="{{site.baseurl}}/src/img/portrait.png">  --> 
                <h2>Archive</h2>  
                <p>Even more IncognitoAnkh's pixel art creations.</p>  
            </a>
        </div>
    </div>  
</div> 
