---
layout: default
permalink: /commissions/
title: Commissions
banner_title: Pixel Art Commissions
banner_subtitle: Terms of service, license and illustrative pricing for IncognitoAnkh's direct pixel art commissions.
banner_css: pixelart
--- 
<!-- Load -->
<script async src="https://kit.fontawesome.com/6cc05e1e8e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/modal.css">
<script async src="/js/modal.js" crossorigin="anonymous"></script>

<!-- Content -->
<div class="wrapper" id="main">  
    <div class="mini_wrapper flex_secondary" id="w1"> 
        {% include contents/status.html %}      
        {% include contents/donations.html %}
    </div>  

    <div class="mini_wrapper flex_principal" id="w2">  
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">-Terms of Service-</h2>
                <p>Applied only to <span class="highlight">direct</span> commissions.</p>
                <p class="highlight">If you request a commission, I will assume that you have read and agree to the following terms.</p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Workflow</h2>  
                <p class="highlight">Payment > First Version > Revisions > Final Delivery</p>
                <p class="justify">
                    • All my commissions are delivered “as soon as possible”.<br>
                    • I take feedback throughout the project to have the product correctly at the final delivery.<br>
                    • The "Revisions" step can be repeated until you are satisfied with the product at no additional cost, as long as the complexity and number of revisions is fair to both parties <span class="NO">(no drastic changes such as redoing the product)</span>.<br>
                    • Orders will be made in queue order and delivery priority.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">Payments</h2>  
                <p>Payments can be made through <span style="color: #0070C0;">Pay</span><span style="color: #00B0F0;">Pal</span> or <span style="color: #626CD9;">Stripe</span> either in advance or in halves:</p>
                <p class="justify">
                    • I will start working once at least the first half of the project price is paid.<br>
                    • I will send you a preview each time i make substantial progress for feedback. If you paid full price up front, you can also request earlier versions of the product to try it out for yourself without waiting for final delivery.<br>
                    • I will deliver the final product once the total price of the commission has been paid.<br>
                    • During the 7 days following the final delivery you can request an extra review for small adjustments at no additional cost.<br>
                    <br>
                    <span class="highlight">Dedicated Works</span><br>
                    • Aimed at people or teams that need my services as close as possible, such as game development teams or large projects with many required assets, payment and workflow to be discussed.
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_default">
                <h2 class="highlight">License</h2>  
                <p class="justify">
                    By paying the price of a Commission you are acquiring a personal license for the use of the requested product that allows you to:<br>
                    <br>
                    • <span class="YES">Use the product for personal purposes.</span><br>
                    • <span class="YES">Distribute the product for free.</span><br>
                    • <span class="YES">Use the product for commercial purposes as long as it is integrated into another project which may include, but is not limited to, video games, print products, videos, live streams, advertisements, emotes, profile pictures, and social media banners.</span><br>
                    <br>
                    You are not authorized:<br>
                    • <span class="NO">Claim to be the creator of the product, you must always properly credit IncognitoAnkh.</span><br>
                    • <span class="NO">Resell the product itself or with slight modifications, either individually or in asset packs.</span><br>
                    • <span class="NO">Create NFTs with the product.</span><br>
                    <br>
                    I am always willing to discuss the above terms. I may use the product for purposes related to self-promotion which may include, but are not limited to, self-advertising, live streaming, video, and portfolio (if you require a temporary period of confidentiality, be sure to let me know).
                </p> 
            </div>
        </div>
        <div class="content">  
            <div class="card flex_principal">
                <h2 class="highlight">Pricing</h2>
                <p class="justify">
                    The prices shown below are represented in USD, the quantities are for illustrative reference only and may vary depending on the specifications and budget of your specific project.
                </p>
            </div>
            <div class="card flex_secondary gallery_item">
                <h2 class="highlight">GUI related works</h2> 
                <img src="{{site.baseurl}}/src/portfolio/thumbnails/guis/thumb2.png">
                <p class="justify">
                    • Small elements and buttons --------------------------- $4.00 ea.<br>
                    • Widgets and HUD elements ---------------------------- $12.00 ea.<br>
                    • Full menus and screens ------------------------------- $35.00 ea.<br>
                </p>  
            </div>
            <div class="card flex_secondary gallery_item">
                <h2 class="highlight">Items, Icons, Tiles and Misc. assets</h2>
                <img src="{{site.baseurl}}/src/portfolio/thumbnails/tiles/thumb22.png">  
                <p class="justify">
                    • 16px Assets ------------------------------------------------- $4.00 ea.<br>
                    • 32px Assets ------------------------------------------------ $8.00 ea.<br>
                    • 48px Assets ----------------------------------------------- $12.00 ea.<br>
                    • 64px Assets ----------------------------------------------- $16.00 ea.<br>
                </p>  
            </div>
            <div class="card flex_secondary gallery_item">
                <h2 class="highlight">Illustrations</h2>
                <img src="{{site.baseurl}}/src/portfolio/thumbnails/illustrations/thumb18.png">  
                <p class="justify">
                    • Up to 128px Illustration + 1 Figure ------------------ $30.00 ea.<br>
                    • Up to 256px Illustration + 1 Figure ----------------- $60.00 ea.<br>
                    • Up to 384px Illustration + 1 Figure ----------------- $90.00 ea.<br>
                    • Up to 512px Illustration + 1 Figure ---------------- $120.00 ea.<br>
                    • Extra Figure ---------------------------------------------- $25.00 ea.
                </p> 
            </div>
            <div class="card flex_secondary">
                <h2 class="highlight">Extras</h2>
                <img src="{{site.baseurl}}/src/img/MondongoTicket1120.png">  
                <p class="justify">
                    • Recolor --------------------------- 30% Original asset price ea.<br>
                    • Animation ------------ +50% Original asset price each frame<br>
                    • Source File ---------------------- +100% Original project price<br>
                    • Delivery Priority -------------- +100% Original project price
                </p> 
            </div>
        </div>

        <h2 class="">Request a Commission!</h2>
        <div class="content">  
            <div class="card flex_principal">
                <!-- <img src="{{site.baseurl}}/src/img/portrait.png"> -->  
                <h2 class="highlight">Contact</h2>  
                <p>This are the options to request me a commission.</p>  
            </div>
            <div class="card flex_default">
                <h2>Discord</h2> 
                <img src="{{site.baseurl}}/src/img/icons/discord.png"> 
                <p>You can contact me trough my direct commission focused Discord account, just send a friend request to <span class="highlight">IncognitoAnkh#6812</span></p>  
            </div>
            <a href="https://www.fiverr.com/ankhasmodeus" class="card flex_default" target="_blank" rel="noopener noreferrer">
                <h2>Fiverr</h2> 
                <img src="{{site.baseurl}}/src/img/icons/fiverr.png">  
                <p>You can also request commissions through Fiverr by clicking here! But please note that due to that platform's TOS, any project handled through it will have a different set of prices and conditions than those shown here.</p>  
            </a>
        </div> 
    </div>  

    <div class="mini_wrapper flex_secondary" id="w3">  
        {% include contents/pixelart_portfolio.html %}
        <div class="content">  
            <a href="{{site.baseurl}}/pixelart_archive/" class="card flex_default">
                <!-- <img src="{{site.baseurl}}/src/img/portrait.png">  --> 
                <h2>Archive</h2>  
                <p>Even more IncognitoAnkh's pixel art creations.</p>  
            </a>
        </div>
    </div>  
</div> 
