---
layout: default_mono_name
permalink: /incognitoradio/
title: pages.incognito_radio.title
banner_title: pages.incognito_radio.banner.title
banner_subtitle: pages.incognito_radio.banner.subtitle
banner_css: incognitoradio
favicon: icons/IncognitoRadioMini_scaled.png
---
<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1">
    {% include contents/donations.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <div class="content">  
        <div class="card flex_default">
            <p>Proyecto colaborativo de generacion y produccion de contenido.</p> 
        </div>
    </div> 
    <h2 class="">Miembros y Colaboradores</h2> 
    <div class="content">  
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/portrait.png"> 
            <h2>IncognitoAnkh</h2> 
            <p>Productor / Realizador</p>  
            <div class="content">
                <a href="https://www.youtube.com/channel/UCxK-cqbwU3nLcyxA6TXBQhQ" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/youtube.png">
                </a>
                <a href="https://www.twitch.tv/incognitoankh" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
                </a>
                <a href="https://www.instagram.com/incognito.ankh/" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/instagram.png">
                </a>
                <a href="https://twitter.com/IncognitoAnkh" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/twitter.png">
                </a>
                <a href="https://www.facebook.com/IncognitoAnkh" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/facebook.png">
                </a>
            </div>
        </div>
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/unamed_pfp.png"> 
            <h2>Unamed Vlenard</h2> 
            <p>Postproductor</p>  
            <div class="content">
                <a href="https://www.youtube.com/channel/UCasdki4_6z0joaqCZr3ZA9Q" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/youtube.png">
                </a>
            </div>
        </div>
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/astreal_pfp.png"> 
            <h2>Astreal</h2> 
            <p>Colaborador</p>  
            <div class="content">
            </div>
        </div>
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/diale_pfp.png"> 
            <h2>notdiale</h2> 
            <p>Colaborador</p>  
            <div class="content">
                <a href="https://www.youtube.com/channel/UCwaWXZbSNHJXfQb_LYbl4sw" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/youtube.png">
                </a>
                <a href="https://www.twitch.tv/notdiale" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
                </a>
            </div>
        </div>
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/lobo_pfp.png"> 
            <h2>SrLoboRebirthx</h2> 
            <p>Colaborador</p>  
            <div class="content">
                <a href="https://www.twitch.tv/srloborebirthx" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
                </a>
            </div>
        </div>
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/icons/x.png"> 
            <h2>ItzhakNM</h2> 
            <p>Colaborador</p>  
            <div class="content">
                <a href="https://www.twitch.tv/itzhaknm" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
                </a>
            </div>
        </div>
    </div> 
    <h2 class="">Recomendados</h2> 
    <div class="content">  
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/chariwarizard_pfp.jpg"> 
            <h2>ChariWARIZard</h2> 
            <p>El Charizandro</p>  
            <div class="content">
                <a href="https://www.youtube.com/channel/UC6-4oOpquCCjfCZtHfuQEiw" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/youtube.png">
                </a>
                <a href="https://www.facebook.com/ZardcharCosp" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/facebook.png">
                </a>
            </div>
        </div>
        <div class="card flex_mini">
            <img src="{{ site.baseurl_root }}/assets/images/gordo_pfp.png"> 
            <h2>stardustjoe</h2> 
            <p>Un Ente</p>  
            <div class="content">
                <a href="https://www.twitch.tv/stardustjoe" class="flex_micro" target="_blank" rel="noopener noreferrer">
                    <img src="{{ site.baseurl_root }}/assets/images/icons/twitch.png">
                </a>
            </div>
        </div>
        <a class="card flex_mini" href="" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl_root }}/assets/images/yobikomikun.gif"> 
            <h2>...</h2> 
            <p>...</p>  
        </a>
        <a class="card flex_mini" href="" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl_root }}/assets/images/yobikomikun.gif"> 
            <h2>...</h2> 
            <p>...</p>  
        </a>
        <a class="card flex_mini" href="" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl_root }}/assets/images/yobikomikun.gif"> 
            <h2>...</h2> 
            <p>...</p>  
        </a>
    </div> 
    <div class="content">  
        <div class="card flex_default">
            <iframe src="https://player.twitch.tv/?channel=incognitoankh&parent=incognitoankh.com" frameborder="0" allowfullscreen="true" scrolling="no" height="480" width="720"></iframe> 
        </div>
    </div> 
    <h2 class="">Website Under Construction</h2>
    <div class="content">  
        <div class="card flex_default">
            <p>...</p>  
        </div>
    </div> 
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    <h2 class="">Canal Oficial</h2>
    {% include contents/incognitoradio_yt_channel.html %}
    <h2 class="">Proyectos y Eventos</h2>
    <div class="content">
        <a class="card flex_default" href="">
            <img src="{{ site.baseurl_root }}/assets/images/yobikomikun.gif"> 
            <h2>Proximamente</h2> 
            <p>...</p>  
        </a>
    </div>
</div>  
