---
layout: default
permalink: /pixelart/
title: pages.pixelart.title
banner_title: pages.pixelart.banner.title
banner_subtitle: pages.pixelart.banner.subtitle
banner_css: pixelart
favicon: icons/IncognitoAnkhMini_scaled.png
---
<!-- Load -->

<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1"> 
    {% include contents/request_commission.html %}
    {% include contents/donations.html %}
</div>

<div class="mini_wrapper flex_principal" id="w2"> 
    <div class="content">
        <div class="card flex_mini">
            <h2>PixelArt Portfolio</h2>  
            <p class="quiet">Quick look to IncognitoAnkh's pixel art creations.</p>  
        </div>
        <div class="card flex_doublemini">
            <img src="{{ site.baseurl_root }}/assets/images/portrait.png">
        </div>
    </div>
    <h2 class="">Featured</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/illustrations/3.png"> 
            <p>Misc. prompt illustrations</p> 
            <p>~for xNestorio~</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/anims/13.gif"> 
            <p>Animated Avatar</p> 
            <p>~for SrLoboRebirthx~</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/anims/12.gif"> 
            <p>Stream Alert</p> 
            <p>~for Ionprime~</p> 
        </div>
    </div>
    <h2 class="">Project Gallery</h2> 
    <div class="content" id="image-gallery" gallery-list="{{ site.baseurl_root }}/assets/json/gallery_items.json">
        {% include image_gallery.html %}
    </div>  
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    {% include contents/mcmodels.html %} 
</div>  