---
layout: default
permalink: /pixelart/
title: pages.pixelart.title
banner_title: pages.pixelart.banner.title
banner_subtitle: pages.pixelart.banner.subtitle
banner_css: pixelart
favicon: icons/IncognitoAnkhMini_scaled.png
---
<!-- Load -->
<script async src="https://kit.fontawesome.com/6cc05e1e8e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/assets/css/modal.css">
<script async src="/assets/js/modal.js" crossorigin="anonymous"></script>

<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1"> 
    {% include contents/request_commission.html %}
    {% include contents/donations.html %}
</div>

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">GUI Related Works</h2> 
    <div class="content">  
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/guis/thumb2.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/guis/thumb3.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/guis/thumb4.png">  
            <p>Misc GUIs</p>  
        </div>
    </div>
    <h2 class="">Items, Icons, Tiles and Misc. Assets</h2>   
    <div class="content">  
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/tiles/thumb22.png">
            <p>Tiles</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/icons/thumb16.png">
            <p>Icons and Items</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/misc/thumb14.png">
            <p>Misc Assets</p>  
        </div> 
    </div>
    <h2 class="">Illustrations</h2>
    <div class="content">  
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/illustrations/thumb17.png">
            <p>Misc Illustrations</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/illustrations/thumb18.png">
            <p>Misc Illustrations</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/illustrations/thumb19.png"> 
            <p>Misc Illustrations</p>  
            <p>~for xNestorio~</p> 
        </div>  
    </div>
    <h2 class="">Animated</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/anims/anim0.gif"> 
            <p>Misc Animated Items</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/anims/anim12.gif"> 
            <p>Animated Avatar</p> 
            <p>~for SrLoboRebirthx~</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{ site.baseurl_root }}/assets/images/portfolio/thumbnails/anims/anim11.gif"> 
            <p>Stream Alert</p> 
            <p>~for Ionprime~</p> 
        </div>
    </div>
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    {% include contents/archive.html %}
    {% include contents/mcmodels.html %} 
</div>  