---
layout: default
permalink: /pixelart_archive/
title: PixelArt Archive
banner_title: PixelArt Archive
banner_subtitle: A slightly broader look at IncognitoAnkh's pixel art creations.
banner_css: pixelart
---
<!-- Load -->
<script async src="https://kit.fontawesome.com/6cc05e1e8e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/modal.css">
<script async src="/js/modal.js" crossorigin="anonymous"></script>

<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1"> 
    {% include contents/status.html %}
    {% include contents/donations.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">Blocky 3D Models (Sneak peek)</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model1.gif">  
            <p>Music - Keyboard</p> 
            <p>(Dyeable Model)</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model2.gif">  
            <p>Music - Acoustic Guitar</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model3.gif">  
            <p>Music - Electric Guitar</p>  
            <p>(Dyeable Model)</p>
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model4.gif">  
            <p>Music - Drum Set</p>  
            <p>(Dyeable Model)</p>
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model5.gif">  
            <p>Books</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model6.gif">  
            <p>Vending Machines - Basic</p> 
            <p>(Dyeable Model)</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model7.gif">  
            <p>Vending Machines - Deluxe</p>  
            <p>(Dyeable Model)</p>
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/models/model8.gif">  
            <p>Vending Machines - Premium</p>  
            <p>(Dyeable Model)</p>
        </div>
    </div>

    <h2 class="">GUI Related Works</h2> 
    <div class="content">  
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb2.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb3.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb4.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb5.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb6.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb7.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb8.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb9.png">  
            <p>Misc GUIs</p>  
        </div>
    </div>

    <h2 class="">Items and Icons</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/icons/thumb16.png">  
            <p>Misc Items and Icons</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/icons/thumb10.png">  
            <p>Misc Items and Icons</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/icons/thumb11.png">  
            <p>Misc Items and Icons</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/icons/thumb12.png">  
            <p>Misc Items and Icons</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/icons/thumb13.png">  
            <p>Misc Items</p>  
        </div>
    </div>

    <h2 class="">Tiles</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/tiles/thumb20.png">  
            <p>Isometric Land Tiles</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/tiles/thumb21.png">  
            <p>Isometric Land Tiles</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/tiles/thumb22.png">  
            <p>Isometric Land Tiles</p>  
        </div>
    </div>

    <h2 class="">Illustrations</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb17.png">  
            <p>Misc Illustrations</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb18.png">  
            <p>Misc Illustrations</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb19.png">  
            <p>Misc Illustrations</p>
            <p>~for xNestorio~</p>  
        </div>
    </div>

    <h2 class="">Misc Assets</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/misc/thumb14.png">  
            <p>Misc Assets</p>  
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/misc/thumb15.png">  
            <p>Misc Assets</p>  
        </div>
    </div>

    <h2 class="">Animated</h2> 
    <div class="content">
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim0.gif"> 
            <p>Misc Animated Items</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim10.gif"> 
            <p>Space - Blast</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim11.gif"> 
            <p>Stream Alert</p> 
            <p>~for Ionprime~</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim1.gif"> 
            <p>Space - Elon Head</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim2.gif"> 
            <p>Space - Elon Head Attack</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim3.gif"> 
            <p>Space - Messiah Head</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim4.gif"> 
            <p>Space - Alien</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim5.gif"> 
            <p>Space - Space Chicken</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim6.gif"> 
            <p>Space - Space Monster</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim7.gif"> 
            <p>Space - Satelite Shoot</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim8.gif"> 
            <p>Space - Asteroid</p> 
        </div>
        <div class="card flex_default gallery_item">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim9.gif"> 
            <p>Space - Turrets</p> 
        </div>
    </div>

</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    {% include contents/pixelart_portfolio.html %}
    {% include contents/request_commission.html %} 
</div>  