---
layout: default
permalink: /pixelart_archive/
title: pages.pixelart_archive.title
banner_title: pages.pixelart_archive.banner.title
banner_subtitle: pages.pixelart_archive.banner.subtitle
banner_css: pixelart
favicon: icons/IncognitoAnkhMini_scaled.png
---
<!-- Load -->

<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1">
    {% include contents/request_commission.html %}
    {% include contents/donations.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">Project Gallery</h2> 
    <!-- The Image Gallery must be here -->
    <div class="content" id="image-gallery" gallery-list="{{ site.baseurl_root }}/assets/json/gallery_items.json">
        {% include image_gallery.html %}
    </div>  

</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    {% include contents/pixelart_portfolio.html %} 
    {% include contents/mcmodels.html %} 
</div>