---
layout: default
permalink: /pixelart/
title: PixelArt
banner_title: PixelArt Portfolio
banner_subtitle: Quick look to IncognitoAnkh's pixel art creations.
banner_css: pixelart
---
<!-- Content -->
<div class="mini_wrapper flex_secondary" id="w1"> 
    {% include contents/status.html %}
    {% include contents/donations.html %}
</div>  

<div class="mini_wrapper flex_principal" id="w2"> 
    <h2 class="">GUI Related Works</h2> 
    <div class="content">  
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb2.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb3.png">  
            <p>Misc GUIs</p>  
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/guis/thumb4.png">  
            <p>Misc GUIs</p>  
        </div>
    </div>
    <h2 class="">Items, Icons, Tiles and Misc. Assets</h2>   
    <div class="content">  
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/tiles/thumb22.png">
            <p>Tiles</p>  
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/icons/thumb16.png">
            <p>Icons and Items</p>  
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/misc/thumb14.png">
            <p>Misc Assets</p>  
        </div> 
    </div>
    <h2 class="">Illustrations</h2>
    <div class="content">  
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb17.png">
            <p>Misc Illustrations</p>  
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb18.png">
            <p>Misc Illustrations</p>  
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/illustrations/thumb19.png"> 
            <p>Misc Illustrations</p>  
        </div>  
    </div>
    <h2 class="">Animated</h2> 
    <div class="content">
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim0.gif"> 
            <p>Misc Animated Items</p> 
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim11.gif"> 
            <p>Stream Alert</p> 
            <p>~for Ionprime~</p> 
        </div>
        <div class="card flex_default">
            <img src="{{site.baseurl}}/src/portfolio/anims/anim10.gif"> 
            <p>Space - Blast</p> 
        </div>
    </div>
</div>  

<div class="mini_wrapper flex_secondary" id="w3">  
    <div class="content">  
        <a href="{{site.baseurl}}/pixelart_archive/" class="card flex_default">
            <!-- <img src="{{site.baseurl}}/src/img/portrait.png">  --> 
            <h2>Archive</h2>  
            <p>If this quick look is not enough for you, In the archive you can watch even more of my creations.</p>  
        </a>
    </div>
    {% include contents/request_commission.html %} 
</div>  