<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z94NWZ8PYN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Z94NWZ8PYN');
    </script>
    
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/default.css">
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/banners/{{ page.banner_css }}.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl_root }}/assets/images/{{ page.favicon }}">
	<title>{{ site.title }} - {{ page.title }}</title>
</head>
<body class="main">
    {% include navbar.html %}
    <div class="banner">
        <div class="page_space_top"></div>
        <h1 class="page_title">{{ page.title }}</h1>
        <h4 class="page_subtitle">>>> {{ page.date | date_to_long_string }} <<<</h4>
        <div class="page_space_bottom"></div>
    </div>
    <div class="banner_img">
    </div>
    <div class="wrapper" id="main">

        <div class="mini_wrapper flex_secondary" id="w1">
            {% include contents/donations.html %}
            {% include contents/socialmedia.html %}
        </div>

        <div class="mini_wrapper flex_principal" id="w2"> 
            <div class="content">
                <div class="card flex_default">
                    <!-- <h1 class="highlight">{{ page.title }}</h1> 
                    <time datetime="{{ page.date | date: "%d-%m-%Y" }}">{{ page.date | date_to_long_string }}</time> -->
                    {{ content }}
                </div>
            </div>
        </div>

        <div class="mini_wrapper flex_secondary" id="w3">  
            {% include contents/twitter_feed.html %}
        </div>  

    </div> 
    {% include footer.html %}
</body>
</html>