<!DOCTYPE html>
<html>
<head>
    {% include common/google_tag.html %}
    {% include common/head_meta.html %}
	<title>{{ site.title }} - {{ page.title }}</title>
</head>
<body class="main">
    {% include modal.html %}
    {% include common/navbar.html %}
    <div class="banner">
        <div class="page_space_top"></div>
        <h1 class="page_title">{{ page.title }}</h1>
        <h4 class="page_subtitle">>>> {{ page.date | date_to_long_string }} <<<</h4>
        <div class="page_space_bottom"></div>
    </div>
    <div class="banner_img">
    </div>
    <div class="wrapper" id="main">

        <div class="mini_wrapper flex_secondary" id="w1">
            {% include contents/donations.html %}
            {% include contents/socialmedia.html %}
        </div>

        <div class="mini_wrapper flex_principal" id="w2"> 
            <div class="content">
                <div class="card flex_default">
                    <!-- <h1 class="highlight">{{ page.title }}</h1> 
                    <time datetime="{{ page.date | date: "%d-%m-%Y" }}">{{ page.date | date_to_long_string }}</time> -->
                    {{ content }} 
                </div>
            </div>
        </div>

        <div class="mini_wrapper flex_secondary" id="w3">  
            {% include contents/twitter_feed.html %}
        </div>  

    </div> 
    {% include common/footer.html %}
</body>
</html>